<ion-header>
  <ion-toolbar>
    <ion-title>
      Hotel Casa Dann Carlton
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/Seleccion/Logo.png"></ion-img>
  <ion-button expand="full" (click)="enviarEmail()">Ingresar</ion-button>
  <ion-card>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15905.902077689057!2d-74.0663124749634!3d4.687115749264493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3559bd6fff4d3d36!2sCasa%20Dann%20Carlton%20Hotel%20%26%20Spa!5e0!3m2!1ses-419!2sco!4v1568464943579!5m2!1ses-419!2sco" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </ion-card>
  <ion-footer class="ion-text-center">
    <ion-card color="medium">
        Hoteles Dann <br>
        Direccion Calle 94#17-44 <br>
        Telefonos 688 5555 - 322 345 6788<br>
        Bogota DC
    </ion-card>    
  </ion-footer>  
</ion-content>
